body{
    margin: 0;
}
.header{
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    top:0;
    right:0; 
    left:0;
    background-color: #1077C3;
    color: white;
    font-size: 20px;
  }

  *{
    font-family: qatarfont;
  }
  @font-face {
    font-family: qatarfont;
    src: url(qatarfont.ttf);
 }
 
  
  .nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 70px;
    list-style-type: none;
    margin-top: 100px;
    padding: 0 70px;
  }
  .nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
  }

.mid{
    overflow: hidden;
}
.flagleft{
    position: absolute;
    top: 100px;
    left: 25px;
}
.flagright{
    position: absolute;
    top: 100px;
    right: 25px;
}
.flagleft2{
    position: absolute;
    top: 285px;
    left: 25px;
}
.flagright2{
    position: absolute;
    top: 285px;
    right: 25px;
}
.flagleft3{
    position: absolute;
    top: 415px;
    left: 25px;
}
.flagright3{
    position: absolute;
    top: 415px;
    right: 25px;
}
.flagleft4{
    position: absolute;
    top: 545px;
    left: 25px;
}
.flagright4{
    position: absolute;
    top: 545px;
    right: 25px;
}
.flagleft5{
    position: absolute;
    top: 730px;
    left: 25px;
}
.flagright5{
    position: absolute;
    top: 730px;
    right: 25px;
}
.flagleft6{
    position: absolute;
    top: 860px;
    left: 25px;
}
.flagright6{
    position: absolute;
    top: 860px;
    right: 25px;
}
.flagleft7{
    position: absolute;
    top: 990px;
    left: 25px;
}
.flagright7{
    position: absolute;
    top: 990px;
    right: 25px;
}
.flagleft8{
    position: absolute;
    top: 1120px;
    left: 25px;
}
.flagright8{
    position: absolute;
    top: 1120px;
    right: 25px;
}
.flagleft9{
    position: absolute;
    top: 1305px;
    left: 25px;
}
.flagright9{
    position: absolute;
    top: 1305px;
    right: 25px;
}
.flagleft10{
    position: absolute;
    top: 1435px;
    left: 25px;
}
.flagright10{
    position: absolute;
    top: 1435px;
    right: 25px;
}
.flagleft11{
    position: absolute;
    top: 1565px;
    left: 25px;
}
.flagright11{
    position: absolute;
    top: 1565px;
    right: 25px;
}
.flagleft12{
    position: absolute;
    top: 1695px;
    left: 25px;
}
.flagright12{
    position: absolute;
    top: 1695px;
    right: 25px;
}
.flagleft13{
    position: absolute;
    top: 1880px;
    left: 25px;
}
.flagright13{
    position: absolute;
    top: 1880px;
    right: 25px;
}
.flagleft14{
    position: absolute;
    top: 2010px;
    left: 25px;
}
.flagright14{
    position: absolute;
    top: 2010px;
    right: 25px;
}
.flagleft15{
    position: absolute;
    top: 2140px;
    left: 25px;
}
.flagright15{
    position: absolute;
    top: 2140px;
    right: 25px;
}
.flagleft16{
    position: absolute;
    top: 2270px;
    left: 25px;
}
.flagright16{
    position: absolute;
    top: 2270px;
    right: 25px;
}
.matches{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px; /*change as per your design need */
    min-width: 320px;
    margin-top: 20px;
    margin-left: 700px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    overflow: hidden;
    font-weight: normal;
    background-color: #56042C;
    border-radius: 16px;
    color: white;
}

.dato{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    border: 1px solid #FEC310;
    background-color: #FEC310;
    border-radius: 8px;
    padding: 4px;
}

.kamp{
    border: 1px solid #FEC310;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

#a{
    color:#FEC310;
}
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #56042C;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #FEC310;
    --calendar-date-hover-color: #FEC310;
    --calendar-current-date-color: #FEC310;
    --calendar-today-color: linear-gradient(to bottom, #FEC310, #FEC310);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

.calendar {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    float:left;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    position: fixed;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}
  
